{
    "subscription_id": "",
    "aad_client_id": "",
    "aad_secret": "",
    "aad_tenant": "",
    "location": "eastus",
    "base_url": "",
    "resource_group": "",
    "storage_account" : {
        "name": "",
        "key": ""
    },
    "admin_user" : {
        "name": "",
        "password": "",
        "ssh_public_key": ""
    },
    "keyvault_id": "",
    "container_registry" : {
        "user": "",
        "password": "",
        "secret_url": ""
    }
}
